BOT_TOKEN=<токен тг бота>
GROUP_ID=<айди группа с модеркой>
UPDATES_CHAT_ID=<айди группы с обновой>
UPDATES_TOPIC_ID=<топик с обновами>
STORE_RAW_URL=https://git.kangel.xyz/KangelPlugins/Plugins-Store/raw/branch/main
EXPECTED_GIT_USER_NAME=<имя пользователя git>
EXPECTED_GIT_USER_EMAIL=<почта пользователя git>
API_ID=<api_id с my.telegram.org>
API_HASH=<api_hash с my.telegram.org>
FILE_TRANSFER_CHAT_ID=<айди чата для временных файлов, необязательно>
