BOT_TOKEN=<токен тг бота> 
GROUP_ID=<айди группа с модеркой> 
UPDATES_CHAT_ID=<айди группы с обновой> 
UPDATES_TOPIC_ID=<топик с обновами>
GITHUB_TOKEN=<токен гитхаб аккаунта>
EXPECTED_GIT_USER_NAME=<акк гитхаб>
EXPECTED_GIT_USER_EMAIL=<почта гитхаба акка>
