BOT_TOKEN=<токен тг бота> 
GROUP_ID=<айди группа с модеркой> 
UPDATES_CHAT_ID=<айди группы с обновой> 
UPDATES_TOPIC_ID=<топик с обновами>
STORE_RAW_URL=https://git.kangel.xyz/KangelPlugins/Plugins-Store/raw/branch/main
EXPECTED_GIT_USER_NAME=<имя пользователя git>
EXPECTED_GIT_USER_EMAIL=<почта пользователя git>
